{% extends "base.html" %}

{% block title %}学生注册{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="panel-card">
        <h1 class="h3 mb-4">学生注册</h1>
        <form method="post" class="row g-3" data-validation-form="register">
          <div class="col-md-6">
            <label class="form-label">学号</label>
            <input class="form-control" name="student_no" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">姓名</label>
            <input class="form-control" name="name" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">昵称</label>
            <input class="form-control" name="nickname" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">联系方式</label>
            <input class="form-control" name="contact" required>
          </div>
          <div class="col-12">
            <label class="form-label">密码</label>
            <input class="form-control" type="password" name="password" minlength="8" required data-password-field="true">
          </div>
          <div class="col-12">
            <button class="btn btn-primary rounded-pill">提交注册</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}
